* {
	box-sizing: border-box;
}

body {
	text-align: center;
	padding: 0px;
	margin: 0px;
	background-color: #c2f0f0;
}

.nav {
	background-color: #a39d7c;
	margin: 0px;
	min-height: 36px;
}

.nav-link {
	color: #5c5841;
	display: inline;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
}

.section-header {
	text-decoration: underline;
	font-size: 45px;
	margin: 15px;
}

.section-subheader {
	margin-top: -10px;
}

.project-header {
	text-decoration: underline;
	font-size: 25px;
	margin: 15px;
}

.project-subheader {
	margin-top: -10px;
	font-size: 17px;
}

h2 {
	font-size: 25px;
}

#about {
	color: #5c5841;
	background-color: #93cfcf;
	height: 180vh;
	padding: 10px;
	margin: 0px;
}

#projects {
	background-color: #c2f0f0;
	color: #5c5841;
	padding: 10px;
	margin: 0px;
}

.project_link {
	color: #7733ff;
}

#resume-link {
	color: darkviolet;
	font-size: 20px;
}

#email {
	font-size: 20px;
}

#brand-statement {
	background-color: #c2f0f0;
	border-radius: 10px;
}

#skills-block {
	background-color: #c2f0f0;
	border-radius: 10px;
}

#contact-block {
	background-color: #c2f0f0;
	border-radius: 10px;
}

.screenshot {
	max-width: 90%;
	margin: 10px;
}

.project-card {
	border: 1px #5c5841 solid;
	border-radius: 10px;
}

.project-description {
	background-color: #93cfcf;
	border-radius: 10px;
	padding: 8px;
}

.skills-logo {
	margin: 10px;
	max-width: 18%;
}

#javascript-logo {
	max-width: 12%;
}

#python-logo {
	max-width: 19%;
}

#css-logo {
	max-width: 10.5%;
}

#html-logo {
	max-width: 14%;
}

#node-logo {
	max-width: 18%;
}

#flask-logo {
	max-width: 11%;
}

#bootstrap-logo {
	max-width: 12%;
}

#sql-logo {
	max-width: 17%;
}

#mongo-logo {
	max-width: 12%;
}

#github-logo {
	max-width: 50%;
}

#linkedin-logo {
	max-width: 30%;
}
