
body {

	text-align: center;
	padding: 0px;
	margin: 0px;
	background-color: #e6ffff; 
}

h1 {
	text-decoration: underline;
}

#container {
	display: flex;
}

#stationary {
	position: fixed;
	color: #c2f0f0;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #248f8f;
	width: 30%;
	height: 100vh;
	padding: 10px;
	margin: 0px;
}

#scrollable {
	background-color: #c2f0f0;
	color: #248f8f;
	left: 30%;
	position: relative;
	float: right;
	width: 70%;
	height: 100vh;
	padding: 10px;
	margin: 0px;
}

a {
	color: #00ffff;
}

img {
	max-width: 15%;
}

.project_card {
	border-width: 5px;
	border-color: black;
	border-radius: 10px;
}