
body {

	text-align: center;
	padding: 0px;
	margin: 0px;
	background-color: #e6ffff; 
}

h1 {
	text-decoration: underline;
}

#container {
	display: flex;
}

#stationary {
	position: fixed;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #248f8f;
	/* background-image: url('images/harley-davidson-56R8TzG7Lzc-unsplash.jpg'); */
	width: 40%;
	height: 100vh;
	padding: 10px;
	margin: 0px;
}

#scrollable {
	left: 40%;
	position: relative;
	float: right;
	width: 60%;
	height: 100vh;
	padding: 10px;
	margin: 0px;
}