
body {

	text-align: center;
	padding: 0px;
	margin: 0px;
	background-color: #c2f0f0; 
}

#container {
	display: flex;
}

#stationary {
	position: fixed;
	color: #bad3f0;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #248f8f;
	width: 40%;
	height: 100vh;
	padding: 10px;
	margin: 0px;
}

#scrollable {
	background-color: #c2f0f0;
	color: #205a91;
	left: 40%;
	position: relative;
	float: right;
	width: 60%;
	padding: 10px;
	margin: 0px;
}

@media screen and (max-width: 600px;) {
	#stationary {
		min-width: 100%;
	}
} 

@media screen and (max-width: 600px;) {
	#scrollable {
		min-width: 100%;
	}
}
.project_links_section {
}

.project_link {
	color: #7733ff;
}

img {
	max-width: 15%;
}

.project_card {
	border-width: 5px;
	border-color: black;
	border-radius: 10px;
}
